---
import { getCollection, type CollectionEntry, render } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import "../../../styles/global.css";
import CardButton from "../../../components/CardComponents/CardButton.astro";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
export async function getStaticPaths() {
  const projects = await getCollection(
    "projects",
    (entry: CollectionEntry<"projects">) => {
      return entry.data.lang === "es";
    }
  );

  return projects.map((project: { slug: any }) => ({
    params: { id: project.slug },
    props: { project },
  }));
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

type Props = {
  project: CollectionEntry<"projects">;
};

const { project } = Astro.props;
const { data, slug } = project;

const { title, tags, img, link, github } = data;
const { Content } = await render(project);
export const prerender = true;
---

<Layout title={title}>
  <main class="container mx-auto h-full flex flex-col items-center">
    <h1
      transition:name={`title-${slug}`}
      class="text-2xl md:text-5xl font-medium my-10 text-center hover-underline-animation left"
    >
      {title}
    </h1>
    <article class="text-center md:flex">
      <figure class="flex flex-col items-center w-full md:w-1/2">
        <img transition:name={`img-${slug}`} src={`/${img}`} alt={title} />
      </figure>
      <div
        class="w-full md:w-1/2 p-4 md:p-10 flex flex-col items-center justify-center"
      >
        <p class="text-xl md:text-2xl font-medium">
          <Content />
        </p>
        <ul
          class="flex
        justify-center
        list-none
        gap-5 font-extralight mt-5"
        >
          {tags.map((tag: string) => <li>{tag}</li>)}
        </ul>
        <div class="my-10 flex gap-10">
          <CardButton link={link}>{t("card.project.btn.link")}</CardButton>
          <CardButton link={github}>{t("card.project.btn.code")}</CardButton>
        </div>
      </div>
    </article>
  </main>
</Layout>
